/* Verizon NHG Display font (headings) */
@font-face {
  font-family: Verizon-NHG-DS;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('https://scache1.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGDS-Light.woff2') format('woff2');
}

@font-face {
  font-family: Verizon-NHG-DS;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://scache1.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGeDS-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Verizon-NHG-DS;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://scache2.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGeDS-Bold.woff2') format('woff2');
}

/* Verizon NHG Extended Text font (body) */
@font-face {
  font-family: Verizon-NHG-eTX;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://scache1.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGeTX-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Verizon-NHG-eTX;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://scache2.vzw.com/globalnav/fonts/verizon-nhg/VerizonNHGeTX-Bold.woff2') format('woff2');
}
